body {
	font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif
}

a:focus {
	outline: 1px dotted
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0
}

h1 {
	font-size: 25px
}

h2 {
	font-size: 23px
}

h3 {
	font-size: 21px
}

h4 {
	font-size: 19px
}

h5 {
	font-size: 17px
}

h6 {
	font-size: 15px
}

ol {
	list-style: decimal
}

ul {
	list-style: disc
}

li {
	margin-left: 30px;
}

ul.tabs {
  list-style: none;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  margin-top: 2em;
}
.tabs li {
  margin-left: 0;
  float:left;
  width:20%;
}
.tabs  a {
  border-radius: 3px 3px 0 0;
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#888;
  padding:20px 0;
  background:#f7f7f7;
  box-sizing: border-box;
  height: 79px;
}
.tabs a:hover, .tabs a.active {
  background:#ddd;
}
.tab-body-container {
  border-top: 2px solid #888;
  padding-top: 1.5em;
}
.tab-body-container h3 {
  margin-top: 0;
}
